@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
#footer .brands {
  background-color: black; }
  #footer .brands:hover {
    background-position: left; }
  #footer .brands div {
    background: url("/img/Group7).png");
    display: inline-block;
    height: 70px;
    transition: .3s; }
  #footer .brands .amerexp {
    width: 160px;
    background-position-y: 65px; }
    #footer .brands .amerexp:hover {
      background-position-y: 175px; }
  #footer .brands .bank {
    width: 135px;
    background-position: -195px 65px; }
    #footer .brands .bank:hover {
      background-position: -195px 175px; }
  #footer .brands .idea {
    width: 75px;
    background-position: -365px 65px; }
    #footer .brands .idea:hover {
      background-position: -365px 175px; }
  #footer .brands .master {
    width: 90px;
    background-position: -480px 65px; }
    #footer .brands .master:hover {
      background-position: -480px 175px; }
  #footer .brands .neteller {
    width: 204px;
    background-position: -610px 65px; }
    #footer .brands .neteller:hover {
      background-position: -610px 175px; }
  #footer .brands .scrill {
    width: 150px;
    background-position: -850px 65px; }
    #footer .brands .scrill:hover {
      background-position: -850px 175px; }
  #footer .brands .sofort {
    width: 150px;
    background-position: -1025px 65px; }
    #footer .brands .sofort:hover {
      background-position: -1025px 175px; }
  #footer .brands .visa {
    width: 150px;
    background-position: -1215px 65px; }
    #footer .brands .visa:hover {
      background-position: -1215px 175px; }
  #footer .brands .webmoney {
    width: 200px;
    background-position: -1400px 65px; }
    #footer .brands .webmoney:hover {
      background-position: -1400px 175px; }

html, body {
  min-width: 300px;
  font-family: Roboto;
  font-size: 18px;
  color: #000000; }

.nav-main, .navigation-with {
  position: absolute;
  z-index: 10;
  width: 100%;
  text-align: center; }

.table-text {
  color: #01B5AD; }

.dropdown:hover > .dropdown-menu {
  display: block; }

.size-im {
  width: 162px; }

#navigation a {
  color: #000000;
  font-weight: 500; }

.nav-main .nav-item .nav-link {
  color: #FFFFFF !important;
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5px; }

#navigation .nav-item .nav-link {
  font-size: 18px;
  font-family: Roboto;
  font-style: normal;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 5px; }
  #navigation .nav-item .nav-link:hover {
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 4px; }

.nav-main .nav-item .nav-link:hover {
  border-bottom-color: #FFFFFF !important;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-bottom: 4px; }

.account-table {
  min-width: 800px; }
  .account-table a {
    color: #000000 !important; }
  .account-table .col-4 {
    text-align: right;
    color: #01A7A0; }
  .account-table .row :nth-child(2), .account-table .row :nth-child(3), .account-table .row :nth-child(4) {
    box-shadow: 0 9px 0px 0px white, 0 -9px 0px 0px white, 12px 0 15px -4px rgba(31, 73, 125, 0.8), -12px 0 15px -4px rgba(31, 73, 125, 0.8); }

.baner {
  background: linear-gradient(90deg, #01A29B 0%, #01C1B9 100%); }
  .baner h2 {
    text-transform: uppercase;
    font-size: 80px; }
  .baner h4 {
    text-transform: uppercase;
    line-height: 25px;
    font-weight: 300; }
  .baner h5 {
    text-transform: uppercase;
    font-size: 27px; }

.color-main-w {
  color: #FFFFFF; }

.layer1 {
  float: left;
  position: absolute;
  top: 33px; }

.baner img {
  position: relative;
  height: 100vh;
  left: 425px;
  width: 73vw;
  right: 827px; }

.link-baner {
  border-radius: 8px;
  color: #FFFFFF;
  transition: .4s;
  height: 40px;
  padding: 10px;
  width: 100%;
  text-align: center;
  border: 1px solid #FFFFFF; }
  .link-baner:hover {
    background: #FFFFFF;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    color: #01B5AD !important;
    border: 1px solid #01B5AD; }

.baber-text {
  border-radius: 15px;
  margin-top: -5%;
  position: relative;
  font-size: 14px;
  color: #4D4D4D;
  line-height: 25px;
  height: 100%; }
  .baber-text h4 {
    font-size: 18px;
    line-height: 25px;
    font-weight: bold; }

.baber-text-suport {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  height: 100%; }

.with-main {
  background: url("../img/90463%5BConverted%5D-01.png");
  background-position: center;
  background-size: cover; }
  .with-main p {
    color: #000000; }

.with-bagraund {
  background: rgba(255, 255, 255, 0.82);
  border-radius: 15px;
  font-size: 15px;
  height: 140px;
  width: 100%;
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding: 0px !important; }

.with-height {
  height: 100%;
  width: 100%; }

.with-height-media {
  padding: 0% 12% !important; }

.index-home p {
  line-height: 32px; }

.link-meta, .link-metaa {
  background: linear-gradient(254.48deg, #00C1B8 0%, #00A19A 100%);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: #FFFFFF;
  text-align: center;
  transition: .4s;
  height: 40px;
  width: 100%;
  padding-left: 40%;
  padding-right: 40%; }
  .link-meta:hover, .link-metaa:hover {
    background: #FFFFFF;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    color: #01B5AD !important;
    border: 1px solid #01B5AD; }

.link-baner-web {
  background: linear-gradient(254.48deg, #00C1B8 0%, #00A19A 100%);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: #FFFFFF;
  text-align: center;
  transition: .4s;
  height: 40px;
  width: 100%;
  padding-left: 7% !important;
  padding-right: 7% !important;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px; }
  .link-baner-web:hover {
    background: #FFFFFF;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    color: #01B5AD !important;
    border: 1px solid #01B5AD; }

.link-baner-modile {
  background: linear-gradient(254.48deg, #00C1B8 0%, #00A19A 100%);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: #FFFFFF;
  text-align: center;
  transition: .4s;
  height: 40px;
  width: 100%;
  padding-left: 19% !important;
  padding-right: 18% !important;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px; }
  .link-baner-modile:hover {
    background: #FFFFFF;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    color: #01B5AD !important;
    border: 1px solid #01B5AD; }

.link-baner-modilee {
  background: linear-gradient(254.48deg, #00C1B8 0%, #00A19A 100%);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: #FFFFFF;
  text-align: center;
  transition: .4s;
  height: 40px;
  width: 100%;
  padding-left: 25% !important;
  padding-right: 25% !important;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px; }
  .link-baner-modilee:hover {
    background: #FFFFFF;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    color: #01B5AD !important;
    border: 1px solid #01B5AD; }

.link-baner-signal {
  background: linear-gradient(254.48deg, #00C1B8 0%, #00A19A 100%);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: #FFFFFF;
  text-align: center;
  transition: .4s;
  height: 40px;
  width: 100%;
  padding-left: 10% !important;
  padding-right: 10% !important;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px; }
  .link-baner-signal:hover {
    background: #FFFFFF;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    color: #01B5AD !important;
    border: 1px solid #01B5AD; }

.link-meta-index {
  background: linear-gradient(254.48deg, #00C1B8 0%, #00A19A 100%);
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: #FFFFFF;
  text-align: center;
  transition: .4s;
  height: 40px;
  width: 100%;
  padding-left: 5%;
  padding-right: 5%; }
  .link-meta-index:hover {
    background: #FFFFFF;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-decoration: none;
    color: #01B5AD !important;
    border: 1px solid #01B5AD; }

.nav-main .navbar-toggler {
  border-color: #FFFFFF;
  color: #FFFFFF; }

.nav-main button:focus {
  outline: auto; }

#navigation button:focus {
  outline: auto; }

#carouselExampleIndicators .carousel-item {
  background-position: center;
  background-size: cover;
  height: 55vh;
  padding: 13vh 5em; }
  #carouselExampleIndicators .carousel-item:nth-child(1) {
    background-image: url(../img/1.jpg); }
  #carouselExampleIndicators .carousel-item:nth-child(2) {
    background-image: url(../img/2.jpg); }
  #carouselExampleIndicators .carousel-item:nth-child(3) {
    background-image: url(../img/3.jpg); }
  #carouselExampleIndicators .carousel-item:nth-child(4) {
    background: linear-gradient(90deg, #008A84 0%, #00C1B8 100%); }

.carousel-item {
  position: relative;
  display: none;
  align-items: center;
  width: 100%;
  backface-visibility: hidden;
  perspective: 1000px;
  border-radius: 15px; }

#carouselExampleIndicators .carousel-item h2, #carouselExampleIndicators .carousel-item h3, #carouselExampleIndicators .carousel-item p, #carouselExampleIndicators .carousel-item h1, #carouselExampleIndicators .carousel-item h4 {
  color: #FFFFFF;
  text-transform: uppercase; }

#carouselExampleIndicators .carousel-indicators li {
  width: 10wv; }

.text-buner-suport {
  font-size: 47px; }

.woben-banre-two {
  height: 50vh; }

.link-slider-two {
  background: #323237;
  box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  color: #FFFFFF;
  text-align: center;
  transition: .4s;
  height: 40px;
  width: 100%;
  padding-left: 25%;
  padding-right: 25%; }
  .link-slider-two:hover {
    background: #FFFFFF;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    text-decoration: none;
    color: #000; }

#carouselExampleIndicator .carousel-item {
  background-position: center;
  background-size: cover;
  height: 55vh;
  padding: 13vh 5em; }
  #carouselExampleIndicator .carousel-item:nth-child(1) {
    background-image: url(../img/Best_Automated_Forex.png); }
  #carouselExampleIndicator .carousel-item:nth-child(2) {
    background-image: url(../img/Best_Automated_Forex.png); }
  #carouselExampleIndicator .carousel-item:nth-child(3) {
    background-image: url(../img/Best_Automated_Forex.png); }
  #carouselExampleIndicator .carousel-item:nth-child(4) {
    background-image: url(../img/Best_Automated_Forex.png); }

.carousel-item {
  position: relative;
  display: none;
  align-items: center;
  width: 100%;
  backface-visibility: hidden;
  perspective: 1000px;
  border-radius: 15px; }

#carouselExampleIndicator .carousel-item h2, #carouselExampleIndicator .carousel-item h3, #carouselExampleIndicator .carousel-item p, #carouselExampleIndicator .carousel-item h1, #carouselExampleIndicator .carousel-item h4 {
  color: #FFFFFF;
  text-transform: uppercase; }

#carouselExampleIndicator .carousel-indicators li {
  width: 10wv; }

.text-buner-suport {
  font-size: 47px; }

.woben-banre-two {
  height: 50vh; }

@media (min-width: 300px) and (max-width: 991px) {
  .nav-main {
    position: relative;
    background: linear-gradient(90deg, #01A29B 0%, #01C1B9 100%); }
  #navigation .menu-media {
    border-bottom-color: #000000;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 4px; }
  .nav-main .menu-media {
    border-bottom-color: #FFFFFF !important;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-bottom: 4px; } }

@media (min-width: 300px) and (max-width: 1000px) {
  .baner {
    background: linear-gradient(90deg, #01A29B 0%, #01C1B9 100%); }
    .baner h2 {
      font-size: 30px; }
    .baner h4, .baner h5 {
      font-size: 15px; }
  .layer1 {
    top: 35px; } }

@media (min-width: 300px) and (max-width: 1500px) {
  .link-baner {
    padding-left: 0px !important;
    padding-right: 0px !important; }
  .text-buner-suport {
    font-size: 20px; }
  .banner-slider h4, h2 {
    font-size: 15px; }
  .baner-two-pad {
    padding: 0px !important; }
  .bamer-two-pading {
    padding-top: 5vh   !important;
    text-align: center; }
  #carouselExampleIndicators .carousel-item {
    height: 65vh; }
  .woben-banre-two {
    height: 67vh; } }

@media (min-width: 300px) and (max-width: 800px) {
  .baner img {
    width: 0; }
  .link-meta {
    padding-left: 30%;
    padding-right: 30%; } }

@media (min-width: 800px) and (max-width: 1000px) {
  .baner img {
    left: 434px;
    width: 55vw; } }

@media (max-width: 575px) {
  .link-media-mac {
    margin-top: 56px;
    text-align: center !important; }
  .for-media {
    margin-top: 0px !important;
    padding-top: 0px !important; }
  .link-metaa {
    padding-left: 32%;
    padding-right: 32%; }
  .media-trader-img {
    padding-left: 18vw; }
  .link-baner-web {
    padding-left: 4% !important;
    padding-right: 4% !important; }
  .layer1 {
    height: 78vh; }
  .link-slider-two {
    padding-left: 20%;
    padding-right: 20%; }
  #carouselExampleIndicators .carousel-item h3 {
    font-size: 14px; }
  #carouselExampleIndicators .carousel-item h2 {
    font-size: 18px; }
  .slide-tvo-media {
    padding-top: 5vh !important;
    padding-left: 34px !important;
    padding-right: 0px !important; }
  .link-media-baner {
    padding-left: 0px !important;
      padding-left-padding-right: 0px !important; } }

@media (min-width: 575px) and (max-width: 1200px) {
  .link-metaa {
    padding-left: 28%;
    padding-right: 27%; } }

@media (min-width: 300px) and (max-width: 1000px) {
  .baner-size {
    width: 70vw; }
  .index-media-mar {
    margin-left: 0px !important;
    margin-right: 0px !important; } }

@media (max-width: 575px) {
  .index-media-mar {
    margin-left: 0px !important;
    margin-right: 0px !important; } }

@media (min-width: 1000px) and (max-width: 1500px) {
  .layer1 {
    padding-top: 0px !important; } }

@media (min-width: 992px) and (max-width: 1400px) {
  .link-baner-modilee {
    padding-left: 20% !important;
    padding-right: 20% !important; }
  .link-baner-modile {
    padding-left: 12% !important;
    padding-right: 12% !important; } }

@media (min-width: 1400px) and (max-width: 1600px) {
  .layer1 {
    right: 670px; } }

@media (min-width: 1700px) and (max-width: 1800px) {
  .layer1 {
    right: 884px; } }

@media (min-width: 1620px) and (max-width: 1800px) {
  .baner img {
    width: 76vw; } }

@media (min-width: 1800px) and (max-width: 2100px) {
  .baner img {
    left: 613px; }
  .layer1 {
    right: 1000px; } }

@media (min-width: 2100px) {
  .layer1 {
    right: 1417px;
    top: 200px; }
  .baner img {
    left: 613px; }
  .woben-banre-two {
    height: 52vh; }
  #carouselExampleIndicators .carousel-item {
    height: 47vh; }
  .woben-banre-two {
    height: 43vh; }
  .hours-support {
    padding-top: 10vh !important; }
  #carouselExampleIndicators .carousel-item h2, #carouselExampleIndicators .carousel-item h3, #carouselExampleIndicators .carousel-item p, #carouselExampleIndicators .carousel-item h1, #carouselExampleIndicators .carousel-item h4 {
    color: #FFFFFF;
    text-transform: uppercase; } }

body, .baner {
  overflow-x: hidden; }

.bag-down-index {
  background: url("../img/Group17.png");
  background-position: center;
  background-size: cover;
  min-height: 800px; }

@media (min-width: 300px) and (max-width: 499px) {
  .bag-down-index {
    background: none; } }

@media (min-width: 300px) and (max-width: 1400px) {
  .baner {
    background: linear-gradient(90deg, #01A29B 0%, #01C1B9 100%); }
    .baner h2 {
      font-size: 30px; }
    .baner h4, .baner h5 {
      font-size: 15px; }
  .layer1 {
    top: 35px; } }
